h1 {
    font-family: georgia;
    }

p {
    font-family: georgia;
    } 

body {
    text-align: left;
}


/*body {
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    }
*/
